.clients {
  display: flex;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--primary-cubic),
    fill 250ms var(--primary-cubic);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
