.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--primary-white-color);
}
.address__geo--link {
  display: inline-block;
  text-decoration: none;
}

.address__geo--link {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--primary-cubic);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--primary-cubic);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__geo {
  margin-bottom: 9px;
}
.address__mail {
  margin-bottom: 9px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}

/* .join */
.join {
  margin-right: auto;
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;
}
.social__link--footer {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background-color 250ms var(--primary-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/* .subscribe {
} */

.subscripe__title {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;

  margin-bottom: 20px;
}

.subscripe__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  transition: border-color 250ms var(--primary-cubic);

  .subscripe__form-field:focus-within & {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscripe__button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;

  line-height: 1.875;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--primary-cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &::after {
    content: "";
    margin-left: 10px;
    fill: currentColor;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }
}
