.section__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 50px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__peculiarity {
  padding-bottom: 0;
}
